<div class="welcomeBanner">
  <h1 class="cyan-text">Stutter Like You Mean It</h1>
  <h5>Let the World Hear Your Voice</h5>

<!-- Collapsible Navbar -->
            <div class="collapse navbar-collapse" id="example-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/#/">Login<span class="sr-only">(current)</span></a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/add">Add Quote</a></li>
                    <li><a href="/meetups">Meetups Page</a></li>
                </ul>
            </div>
            </div>
<h1>Add Quotes Here</h1>

<div>
  <label for="name">Author</label>
  <input type="text" ng-model="newQuote.name" placeholder="Francine" name="name">
  <label for="quote">Quote</label>
  <input type="text" ng-model="newQuote.quote" placeholder="Penguin" name="quote">
  <input type="button" value="add quote" ng-click="add()">
</div>
