<div class="welcomeBanner">
  <!-- <img class="materialboxed" width="650" src="http://i.imgur.com/SUSCJXf.jpg"> -->
  <h1 class="cyan-text">Stutter Like You Mean It</h1>
  <h5>Let the World Hear Your Voice</h5>
</div>
 <!-- Collapsible Navbar -->
            <div class="collapse navbar-collapse" id="example-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/#/">Login<span class="sr-only">(current)</span></a></li>
                    <li><a href="/#/explore">Explore</a></li>
                    <li><a href="/#/profile">Profile</a></li>
                </ul>
            </div>
